{% extends "pizzas/base.html" %}

{% block content %}
    <p>Pizza: {{ pizza }}</p>

    <p>Toppings:</p>
    <ul>
        {% for topping in toppings %}
            <li>
                <!-- topping was not being shown because we were not accessing the name attribute of topping properly -->
                <p>{{ topping.name|linebreaks }}</p>
            </li>
        {% empty %}
            <li>
                There are no toppings listed for this pizza yet.
            </li>
        {% endfor %}
    </ul>

{% endblock content %}